imx298_lgit=/system/etc/camera/smartae/imx298_lgit/
imx298_liteon=/system/etc/camera/smartae/imx298_liteon/
imx298_sunny=/system/etc/camera/smartae/imx298_sunny/
hi843s_ofilm=/system/etc/camera/smartae/hi843s_ofilm/
imx219_liteon=/system/etc/camera/smartae/imx219_liteon/
imx219_sunny=/system/etc/camera/smartae/imx219_sunny/
imx386_foxconn=/system/etc/camera/smartae/imx386_foxconn/
imx386_liteon=/system/etc/camera/smartae/imx386_liteon/
ov12870_sunny=/system/etc/camera/smartae/ov12870_sunny/