imx298_lgit=/system/etc/camera/tornado/imx298_lgit/
imx298_liteon=/system/etc/camera/tornado/imx298_liteon/
imx298_sunny=/system/etc/camera/tornado/imx298_sunny/
ov12870_sunny=/system/etc/camera/tornado/ov12870_sunny/
imx386_foxconn=/system/etc/camera/tornado/imx386_foxconn/
imx386_liteon=/system/etc/camera/tornado/imx386_liteon/
hi843s_ofilm=/system/etc/camera/tornado/hi843s_ofilm/
imx219_liteon=/system/etc/camera/tornado/imx219_liteon/
imx219_sunny=/system/etc/camera/tornado/imx219_sunny/